.titleBox {
  width: 100%;
  padding: 50px 0;
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid #111;
  text-align: center;
}
.titleBox span {
  display: inline-block;
  padding: 0 100px;
  font-weight: 600;
  border: 10px double #111;
  border-radius: 100%;
}

.divider {
  width: 100%;
  height: 215px;
  background-color: #e84464;
  background-image: url("../images/main/bg-pattern02.png");
  background-attachment: fixed;
  background-size: 120%;
}

#mainVisual {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("../images/main/mainVisual.jpeg");
  background-attachment: fixed;
  background-size: cover;
}
#mainVisual iframe {
  width: 100%;
  height: 100vh;
  transform: scale(1.5);
  object-fit: cover;
  text-align: center;
}
#mainVisual:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  content: "";
}
#mainVisual #mainTitleBox {
  position: absolute;
  top: calc(50% + 50px);
  left: 50px;
  z-index: 10;
  margin: 0 20px 20px;
  font-size: 80px;
  font-weight: 800;
  color: #e84464;
  line-height: 1.5em;
  text-transform: uppercase;
  transform: translateY(-50%);
}
#mainVisual #mainTitleBox span {
  font-size: 70px;
}
#mainVisual .ticketBox {
  display: none;
  width: 250px;
  height: 100px;
  position: absolute;
  right: 70px;
  bottom: 100px;
  z-index: 10;
  padding: 40px;
  color: #000;
  background: #e84464;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}
#mainVisual .ticketBox:before {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 5px dotted #111;
  content: "";
}
#mainVisual .ticketBox span {
  font-size: 36px;
  font-weight: 900;
}
#mainVisual .ticketBox .lang {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 25px;
  font-size: 28px;
  font-weight: 700;
}
#mainVisual .ticketBox .lang a {
  padding: 5px 10px;
}
#mainVisual .ticketBox .lang a:hover {
  color: #e84464;
  background-color: #111;
}
#mainVisual .ticketBox .lang a:nth-child(1) {
  margin-right: 30px;
}
#mainVisual .ticketBox .lang a:nth-child(1):after {
  width: 5px;
  height: 20px;
  position: absolute;
  left: 127px;
  content: "";
  background-color: #111;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#timeTable {
  position: relative;
}
#timeTable .timeTableBox {
  display: flex;
  justify-content: space-between;
}
#timeTable .timeTableBox .day {
  flex-basis: 33%;
  padding: 50px 5px 100px;
  text-align: center;
}
#timeTable .timeTableBox .day:not(:first-child) {
  border-left: 2px solid #111;
}
#timeTable .timeTableBox .day .date {
  margin: 0 50px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  box-sizing: border-box;
  text-decoration: wavy underline overline;
}
#timeTable .timeTableBox .day span {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  font-size: 36px;
  font-weight: 600;
  word-break: keep-all;
}
#timeTable .timeTableBox .day .headBand {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
#timeTable .timeTableBox .day .headBand img {
  width: 100%;
}
#timeTable .more {
  position: absolute;
  bottom: 25px;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#artist {
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: #fff;
  background-color: #111;
}
#artist .wavy {
  --c: #fff;
  /* Color */
  --t: 5px;
  /* Thickness */
  --h: 50px;
  /* Height (vertical distance between two curve) */
  --w: 120px;
  /* Width  */
  --p: 13px;
  /* adjust this to correct the position when changing the other values*/
  display: inline-block;
  width: 100%;
  height: 350px;
  position: absolute;
  margin: 5px 0;
  background: radial-gradient(farthest-side at 50% calc(100% + var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)), transparent calc(52% + var(--t))), radial-gradient(farthest-side at 50% calc(0% - var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)), transparent calc(52% + var(--t)));
  background-position: calc(var(--w) / 2) calc(var(--h) / 2), 0px calc(var(--h) / 2);
  background-size: var(--w) var(--h);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#artist span {
  border: 10px double #fff;
}
#artist .lineUp {
  padding-top: 50px;
}
#artist .lineUp li {
  text-align: center;
}
#artist .lineUp li img {
  height: 550px;
}
#artist .lineUp p {
  padding: 50px 0 100px;
  font-size: 36px;
  font-weight: 700;
}
#artist .lineUp .swiper-notification {
  display: none;
}

#subscription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 28px;
  background-color: #e84464;
}
#subscription .ultimateFormBox {
  padding: 50px 250px 190px;
  border-right: 2px solid #111;
  border-left: 2px solid #111;
}
#subscription .ultimateFormBox h3 {
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
}
#subscription .ultimateFormBox .formBox {
  margin-bottom: 30px;
  text-align: left;
}
#subscription .ultimateFormBox .formBox div {
  margin-bottom: 10px;
  font-weight: 600;
}
#subscription .ultimateFormBox .formBox div:after {
  margin-left: 5px;
  content: "*";
}
#subscription .ultimateFormBox .formBox input {
  width: 500px;
  height: 30px;
  font-family: inherit;
  border: 2px solid #111;
}
#subscription .ultimateFormBox .formBox input[type=email] {
  padding: 15px 10px;
  box-sizing: border-box;
}
#subscription .ultimateFormBox .formBox input[type=text] {
  padding: 15px 10px;
  box-sizing: border-box;
}
#subscription button {
  width: 500px;
  height: 50px;
  margin-top: 50px;
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  border: 1px solid #111;
  background-color: #111;
}
#subscription button:hover {
  color: #e84464;
}
#subscription button:hover:after {
  width: 100%;
  height: 1px;
  top: 3px;
  content: "";
  background-color: #e84464;
}

@keyframes scrollDown {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
@media all and (max-width: 1600px) {
  .divider {
    height: clamp(80px, 15vw, 215px);
  }

  #timeTable .timeTableBox .day span {
    font-size: clamp(16px, 3vw, 32px);
  }

  #subscription .ultimateFormBox {
    padding: 50px clamp(80px, 14vw, 250px) clamp(100px, 15vw, 190px);
  }
}
@media all and (max-width: 1200px) {
  .titleBox {
    padding: 25px 0;
    font-size: clamp(25px, 4vw, 48px);
    font-weight: 500;
    text-transform: uppercase;
  }
  .titleBox span {
    padding: 0 clamp(35px, 5vw, 100px);
    border: 7px double #111;
  }

  #mainVisual #mainTitleBox {
    margin: 0;
    font-size: clamp(40px, 7vw, 80px);
  }
  #mainVisual #mainTitleBox span {
    font-size: clamp(25px, 5vw, 70px);
  }

  #timeTable .timeTableBox .day {
    padding: 50px 5px 80px;
  }
  #timeTable .timeTableBox .day .date {
    font-size: clamp(12px, 2vw, 24px);
  }
  #timeTable .timeTableBox .day span {
    margin: 5px;
  }
  #timeTable .timeTableBox .day .headBand {
    height: clamp(50px, 10vw, 200px);
  }
  #timeTable .timeTableBox .day .headBand img {
    width: 100%;
  }
  #timeTable .more {
    font-size: clamp(12px, 2vw, 24px);
  }

  #artist span {
    border: 7px double #fff;
  }
  #artist .lineUp li img {
    height: clamp(250px, 48vw, 550px);
  }
  #artist .lineUp p {
    padding: 50px 0 clamp(50px, 4vw, 80px);
    font-size: clamp(20px, 3vw, 36px);
  }
  #artist .wavy {
    --c: #fff;
    /* Color */
    --t: 3px;
    /* Thickness */
    --h: 50px;
    /* Height (vertical distance between two curve) */
    --w: 120px;
    /* Width  */
    --p: 10px;
    /* adjust this to correct the position when changing the other values*/
    display: inline-block;
    width: 100%;
    height: 250px;
    position: absolute;
    margin: 5px 0;
    background: radial-gradient(farthest-side at 50% calc(100% + var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)), transparent calc(52% + var(--t))), radial-gradient(farthest-side at 50% calc(0% - var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)), transparent calc(52% + var(--t)));
    background-position: calc(var(--w) / 2) calc(var(--h) / 2), 0px calc(var(--h) / 2);
    background-size: var(--w) var(--h);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  #subscription .ultimateFormBox {
    padding: 50px 0 clamp(100px, 15vw, 190px);
    border: none;
  }
}
@media all and (max-width: 960px) {
  .titleBox {
    padding: 15px 0;
  }
  .titleBox span {
    border: 10px double #111;
  }

  .player {
    display: none;
  }

  #mainVisual #mainTitleBox {
    top: 50%;
    left: 0;
    text-align: center;
  }
  #mainVisual .rollingBg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    background-color: #111;
    animation: scrollDown 1s linear;
  }

  #timeTable .timeTableBox {
    flex-direction: column;
  }
  #timeTable .timeTableBox .day {
    flex-basis: 0;
    padding: 50px 30px 40px;
  }
  #timeTable .timeTableBox .day:last-child {
    padding: 50px 30px 80px;
  }
  #timeTable .timeTableBox .day:not(:first-child) {
    border-top: 2px solid #111;
    border-left: none;
  }
  #timeTable .timeTableBox .day .headBand {
    height: clamp(70px, 15vw, 130px);
  }
  #timeTable .timeTableBox .day .headBand img {
    width: 60%;
  }
  #timeTable .timeTableBox .day span {
    padding: clamp(5px, 0.5vw, 10px);
  }

  #artist {
    height: auto;
  }
  #artist .lineUp {
    padding-bottom: 0px;
  }

  #subscription {
    font-size: clamp(18px, 3vw, 28px);
  }
  #subscription .ultimateFormBox .formBox input {
    width: clamp(300px, 50vw, 500px);
  }
  #subscription .ultimateFormBox button {
    width: clamp(300px, 50vw, 500px);
    font-size: clamp(20px, 3vw, 28px);
  }
}
@media all and (max-width: 640px) {
  .divider {
    display: none;
  }

  .titleBox {
    font-size: 25px;
  }

  #timeTable .timeTableBox .day {
    padding: 30px 10px 40px;
  }
  #timeTable .timeTableBox .day:last-child {
    padding: 30px 10px 60px;
  }

  #artist .wavy {
    display: none;
  }
  #artist .lineUp {
    padding-top: 15px;
  }

  #subscription .ultimateFormBox .formBox input {
    height: 20px;
    font-size: 14px;
  }
  #subscription .ultimateFormBox .formBox input[type=email] {
    padding: 10px 5px;
    box-sizing: border-box;
  }
  #subscription .ultimateFormBox .formBox input[type=text] {
    padding: 10px 5px;
    box-sizing: border-box;
  }
  #subscription .ultimateFormBox button {
    height: 35px;
    margin-top: 30px;
    font-weight: 600;
  }
}
@media all and (min-width: 1201px) {
  #timeTable .timeTableBox span:hover {
    background-color: #e84464;
    text-decoration: underline;
  }
}
@media all and (min-width: 1401px) {
  #mainVisual .ticketBox {
    display: block;
  }
}