@import "vars";
@import "mixin";
body {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: $font-color;
  min-height: 2000px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  background: none;
  outline: none;
}
input {
  border: none;
  outline: none;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
#header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 150px;
  position: fixed;
  z-index: 99;
}
#logo {
  position: absolute;
  left: 50px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    position: relative;
    #fixedIcon {
      display: none;
      &.pink {
        filter: brightness(0);
      }
      &.open {
        display: none;
      }
    }
    #textLogo {
      &.white {
        filter: brightness(0);
      }
      &.none {
        display: none;
      }
    }
  }
}
#menu {
  position: absolute;
  right: 50px;
  font-size: 30px;
  font-weight: 900;
  color: $main-color;
  @include absCenter(false, true);
  &:before {
    content: "";
    width: 200px;
    height: 120px;
    background-color: #fff;
    position: absolute;
    top: -52px;
    left: -29px;
    z-index: -1;
    display: none;
  }
  &.black {
    color: #111;
  }
  &.open {
    right: 300px;
  }
}
#gnb {
  .list {
    position: absolute;
    top: 0;
    right: 100%;
    padding: 50px 0;
    background-color: $main-color;
    > li {
      &:hover {
        .depth01 {
          text-decoration: underline;
        }
      }
      .depth01 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        position: relative;
        padding: 0 50px;
        font-size: 30px;
        font-weight: 900;
      }
      .depth02 {
        padding: 20px 0;
        text-align: center;
        li {
          a {
            display: block;
            padding: 10px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    &.black {
      color: $main-color;
      background-color: #111;
    }
    &.open {
      right: 0;
      z-index: 10;
    }
  }
}
#footer {
  padding: 50px 100px;
  .copyright {
    p {
      margin-bottom: 10px;
    }
  }
  .links {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    div {
      span {
        margin-right: 50px;
      }
    }
  }
}

@media all and (max-width: 1200px) {
  #header {
    height: 100px;
  }
  #logo {
    left: 30px;
    a {
      height: 100px;
      img {
        width: 200px;
      }
    }
  }
  #menu {
    right: 30px;
  }
  #gnb {
    .list {
      padding: 30px 0;
    }
  }
}
@media all and (max-width: 960px) {
  #logo {
    left: 30px;
    #textLogo {
      display: none;
    }
    a {
      height: 100px;
      #fixedIcon {
        display: block;
        width: 60px;
      }
    }
  }
  #menu {
    font-size: clamp(25px, 4vw, 30px);
    right: 30px;
    &.open {
      right: 280px;
    }
  }
}
@media all and (max-width: 640px) {
  #header {
    height: 70px;
  }
  #menu {
    &.open {
      right: 250px;
      color: $main-color;
      &:before {
        display: block;
      }
    }
  }
  #logo {
    a {
      height: 70px;
      #fixedIcon {
        width: 40px;
      }
    }
  }
  #gnb {
    .list {
      > li {
        .depth01 {
          font-size: clamp(25px, 4vw, 30px);
        }
      }
    }
  }
}

@media all and (min-width: 1201px) {
  #gnb {
    .list {
      > li {
        &:hover {
          .depth01 {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
